AUTH_GOOGLE_ID={CLIENT_ID}
AUTH_GOOGLE_SECRET={CLIENT_SECRET}
AUTH_SECRET={AUTH_SECRET}

SHOPIFY_STORE_DOMAIN={SHOPIFY_DOMAIN}
SHOPIFY_STOREFRONT_ACCESS_TOKEN={ACCESS_TOKEN}
MONGODB_URI={mongodb://127.0.0.1:27017/database_name}
RESEND_API_KEY={RESEND_API_KEY}
NEXT_PUBLIC_SITE_URL={http://localhost:3000}