.root {
  @apply relative flex flex-col rounded-lg mb-6 mx-auto border-2 border-gray-200 transition-colors overflow-hidden hover:border-primary;
  min-width: 320px;
  max-width: 360px;
}

.product_quick_action {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
}

.product_to_wishlist {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
  @apply hover:bg-gray-100;

  & svg {
    margin: auto;
  }
}

.product_thumbnail {
  @apply relative w-full;
}

.product_info {
  @apply relative flex flex-col w-full py-4 px-4;
}

.product_name {
  @apply mt-0 mb-2;
}

.product_rating_info {
}

.product_price {
  @apply font-semibold;
  font-size: 18px;
}
