/* Import tailwindcss */
@tailwind base;

@layer base {
  h1 {
    @apply text-h1 font-semibold mt-2 mb-4;
  }
  h2 {
    @apply text-h2 font-semibold mt-2 mb-4;
  }
  h3 {
    @apply text-h3 font-semibold mt-2 mb-4;
  }
  h4 {
    @apply text-h4 font-semibold mt-2 mb-4;
  }
  h5 {
    @apply text-h5 font-semibold mt-2 mb-4;
  }
  h6 {
    @apply text-h6 font-semibold mt-2 mb-4;
  }
  a {
    @apply text-primary hover:underline;
  }
}

@tailwind components;
@tailwind utilities;

.grid-auto {
  flex: 1 1 auto;
  width: unset;
}
.grid-1 {
  width: 8.333333%;
}
.grid-2 {
  width: 16.666667%;
}
.grid-3 {
  width: 25%;
}
.grid-4 {
  width: 33.333333%;
}
.grid-5 {
  width: 41.666667%;
}
.grid-6 {
  width: 50%;
}
.grid-7 {
  width: 58.333333%;
}
.grid-8 {
  width: 66.666667%;
}
.grid-9 {
  width: 75%;
}
.grid-10 {
  width: 83.333333%;
}
.grid-11 {
  width: 91.666667%;
}
.grid-12 {
  width: 100%;
}

@media (min-width: 560px) {
  .sm\:grid-auto {
    flex: 1 1 auto;
    width: unset;
  }
  .sm\:grid-1 {
    width: 8.333333%;
  }
  .sm\:grid-2 {
    width: 16.666667%;
  }
  .sm\:grid-3 {
    width: 25%;
  }
  .sm\:grid-4 {
    width: 33.333333%;
  }
  .sm\:grid-5 {
    width: 41.666667%;
  }
  .sm\:grid-6 {
    width: 50%;
  }
  .sm\:grid-7 {
    width: 58.333333%;
  }
  .sm\:grid-8 {
    width: 66.666667%;
  }
  .sm\:grid-9 {
    width: 75%;
  }
  .sm\:grid-10 {
    width: 83.333333%;
  }
  .sm\:grid-11 {
    width: 91.666667%;
  }
  .sm\:grid-12 {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .md\:grid-auto {
    flex: 1 1 auto;
    width: unset;
  }
  .md\:grid-1 {
    width: 8.333333%;
  }
  .md\:grid-2 {
    width: 16.666667%;
  }
  .md\:grid-3 {
    width: 25%;
  }
  .md\:grid-4 {
    width: 33.333333%;
  }
  .md\:grid-5 {
    width: 41.666667%;
  }
  .md\:grid-6 {
    width: 50%;
  }
  .md\:grid-7 {
    width: 58.333333%;
  }
  .md\:grid-8 {
    width: 66.666667%;
  }
  .md\:grid-9 {
    width: 75%;
  }
  .md\:grid-10 {
    width: 83.333333%;
  }
  .md\:grid-11 {
    width: 91.666667%;
  }
  .md\:grid-12 {
    width: 100%;
  }
}

@media (min-width: 960px) {
  .lg\:grid-auto {
    flex: 1 1 auto;
    width: unset;
  }
  .lg\:grid-1 {
    width: 8.333333%;
  }
  .lg\:grid-2 {
    width: 16.666667%;
  }
  .lg\:grid-3 {
    width: 25%;
  }
  .lg\:grid-4 {
    width: 33.333333%;
  }
  .lg\:grid-5 {
    width: 41.666667%;
  }
  .lg\:grid-6 {
    width: 50%;
  }
  .lg\:grid-7 {
    width: 58.333333%;
  }
  .lg\:grid-8 {
    width: 66.666667%;
  }
  .lg\:grid-9 {
    width: 75%;
  }
  .lg\:grid-10 {
    width: 83.333333%;
  }
  .lg\:grid-11 {
    width: 91.666667%;
  }
  .lg\:grid-12 {
    width: 100%;
  }
}

@media (min-width: 1280px) {
  .xl\:grid-auto {
    flex: 1 1 auto;
    width: unset;
  }
  .xl\:grid-1 {
    width: 8.333333%;
  }
  .xl\:grid-2 {
    width: 16.666667%;
  }
  .xl\:grid-3 {
    width: 25%;
  }
  .xl\:grid-4 {
    width: 33.333333%;
  }
  .xl\:grid-5 {
    width: 41.666667%;
  }
  .xl\:grid-6 {
    width: 50%;
  }
  .xl\:grid-7 {
    width: 58.333333%;
  }
  .xl\:grid-8 {
    width: 66.666667%;
  }
  .xl\:grid-9 {
    width: 75%;
  }
  .xl\:grid-10 {
    width: 83.333333%;
  }
  .xl\:grid-11 {
    width: 91.666667%;
  }
  .xl\:grid-12 {
    width: 100%;
  }
}
